<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EjercicioPU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E12B603B1D2216320090A31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E12B604F1D2216340090A31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E12B605A1D2216340090A31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
